{% extends 'layouts/base.html' %}
{% import 'macros/form_helper.html' as form_helper %}

{% block title %}Recruiter Edit{% endblock %}

{% block append_head %}
{% endblock %}


{% block content %}
<div class="recruiter edit">
  <h2>Edit Recruiter</h2>

  <form method="post" action="/admin/recruiter/update/" id="recruiter-edit">

    {{ form.csrf_token }}
    {{ form.recruiter_id() }}
    {{ form_helper.bootstrap_field(form.recruiter_name) }}
    {{ form_helper.bootstrap_field(form.recruiter_email) }}

    <div class="form-group">
      <label for="mailing-list">Mailing List</label>
      <br/>
      {% set recruiter_mailing_list = recruiter.mailing_list if recruiter.mailing_list else 'none' %}
      {% for mailing_list in recruiter.mailing_lists + ['none'] %}
        {% set btn_state = 'active' if recruiter_mailing_list == mailing_list else 'inactive' %}
      <label class="mailing-list radio-inline {{ btn_state }}">
        <input type="radio"
               name="mailing_list"
               id="{{mailing_list}}"
               value="{{mailing_list}}"
               {% if btn_state == 'active' %}checked{% endif %}/>
        {{mailing_list}}
      </label>
      {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <hr />

  <a href="/admin/recruiters/">return to index</a>
</div>
{% endblock %}
