{% extends 'layouts/base.html' %}

{% block title %}Recruiters{% endblock %}

{% block append_head %}
  <!-- <link rel="stylesheet" href="/assets/stylesheets/forecasts.css"> -->
{% endblock %}


{% block content %}
<div class="recruiters index">

  <h2>Recruiters</h2>

  {% if pager is defined: %}
  <nav class="text-center">
    <ul class="pagination">
      {% if pager.page > 2: %}
      <li>
        <a href="{{pager_href(1, request)}}" aria-label="First Page">
          <span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span>
        </a>
      </li>
      {% endif %}
      <li class="prev {% if not pager.has_prev %}disabled{% endif%}">
        <a href="{{pager_href(pager.prev_page, request)}}" aria-label="Previous">
          <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        </a>
      </li>
      <li class="disabled"><a href="#">Page {{pager.page}}</a></li>
      <li class="next {% if not pager.has_next %}disabled{% endif%}">
        <a href="{{pager_href(pager.next_page, request)}}" aria-label="Next">
          <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </nav>
  {% endif %}

  {# Table #}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Recruiter</th>
        <th>Email Address</th>
        <th>Recruitments</th>
        <th>Created</th>
        <th>Mailing List</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% if not recruiters: %}
      <tr>
        <td class="text-center" colspan="6">No recruiters found.</td>
      </tr>
      {% else: %}
        {% for recruiter in recruiters: %}
        <tr id='{{ recruiter.public_id }}'>
          <td>{{ recruiter.name }}</td>
          <td>{{ recruiter.email }}</td>
          <td>{{ recruiter.email_count }}</td>
          <td>{{ at(recruiter.created_at) }}</td>
          <td>
            <div class="btn-group" data-toggle="buttons">
            {% for mailing_list in recruiter.mailing_lists %}
              {% set btn_state = 'active' if recruiter.mailing_list == mailing_list else 'inactive' %}
            <label class="mailing-list btn btn-default {{ btn_state }} btn-xs">
              <input type="radio" data-choice="{{mailing_list}}" autocomplete="off">
              {{mailing_list}}
            </label>
            {% endfor %}
            </div>
          </td>
          <td>
            <a class="btn btn-info"
               href="/admin/recruiter/{{ recruiter.public_id }}/">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </a>
            <a class="btn btn-warning"
               href="/admin/recruiter/{{ recruiter.public_id }}/edit/">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
          </td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {# End Table #}

</div>
{% endblock %}

{% block javascripts %}
  <script src="/assets/javascripts/mailing_list.js"></script>
{% endblock %}
