# Dependencies should be installed in `lib/` subdirectory.
#
# When updating, it's simplest to back up the lib directory, remove it, and reinstall
# from scratch:
#
#   cd app-engine
#   tar -zcvf ./lib-$(date +%Y%m%d).tgz ./lib
#   rm -rf lib
#   pip install -r requirements.txt -t lib/
#
# If something goes wrong and you need to reinstall the original lib directory:
#
#   cd app-engine
#   tar -zxvf ./lib-$(date +%Y%m%d).tgz -C ./
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
#
Flask==0.10

# Flask forms
Flask-WTF

# Pagination for ndb: https://github.com/vmihailenco/ndbpager
git+https://github.com/vmihailenco/ndbpager#egg=ndbpager
